**/*.iml
target/
.idea/*
.classpath
.project
.settings/*
.metadata/*
.DS_Store
.checkstyle
.mvn/wrapper/maven-wrapper.jar
app-maven-plugin/installPlugin.txt
app-gradle-plugin/.gradle/
app-gradle-plugin/build/

